#grid-one {
    display: grid; /* inline-grid is also an option */
    border: 1px solid blue; 
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px; /*can name the columns and rows*/
    grid-template-rows: [row1-start] 25% [row1-end row2-start] 100px [third-line] auto [last-line];
}

#grid-two {
    margin-top: 100px;
    display: grid;
    border: 1px solid yellow; 
}

#welcome-message {
    color: red; 
}